* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* CNPM moi */
  --primary-color: #0b3052;
  --secondary-color: #808080;
  --bold-color: #1864ab;
  --hover-color-1: #3a3a3a;
  --hover-color-2: #f5f5f5;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does NOT work on Safari */
  scroll-behavior: smooth;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--primary-color);
  /* background-color: #f9f9f9; */
  /* background-color: #d0ebff; */

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

a {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: var(--primary-color);
}

p {
  font-family: 'Inter', sans-serif;
}
#container3D {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
canvas {
  width: 100%; /* Chiều rộng full */
  height: auto; /* Đảm bảo tỉ lệ mô hình */
}

span {
  font-family: 'Inter', sans-serif;
}

canvas {
  width: 100%;
  height: auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.8rem;
}

@media screen and (min-width: 576px) {
  .container {
    padding: 0 2.4rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 3.4rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    padding: 0 1rem;
  }
}
